.sidebar{

    width:270px;

    height:100vh;

    background:#090b13;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:28px;

    border-right:1px solid #20263a;

}

.logo-area{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:45px;

}

.logo-icon{

    width:46px;

    height:46px;

    border-radius:14px;

    background:linear-gradient(135deg,#8b3dff,#2ec5ff);

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    font-weight:bold;

    font-size:22px;

}

.logo-area h1{

    color:white;

}

.menu{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.menu-link{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 16px;

    color:#b8c0d4;

    text-decoration:none;

    border-radius:12px;

    transition:.3s;

    font-size:16px;

}

.menu-link:hover{

    background:#171d2d;

    color:white;

}

.menu-link.active{

    background:linear-gradient(90deg,#8b3dff33,#2ec5ff22);

    color:white;

}

.bottom{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.primary-btn{

    border:none;

    background:linear-gradient(135deg,#8b3dff,#2ec5ff);

    color:white;

    padding:14px;

    border-radius:14px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

}

.primary-btn:hover{

    transform:translateY(-2px);

}

.user-card{

    display:flex;

    align-items:center;

    gap:14px;

    background:#151927;

    border-radius:14px;

    padding:14px;

}

.avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#2a3150;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-weight:bold;

}

.user-card h4{

    color:white;

    margin:0;

}